.popup__close {
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: -40px;
  right: -40px;
  background: url(../../../images/Close-icon.svg);
  background-size: cover;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 540px) {
  .popup__close {
    right: 0;
  }
}

@media screen and (max-width: 417px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
  }
}