.form__heading {
  font-size: 24px;
  font-weight: 900;
  padding: 0;
  margin: 0 0 54px;
}

@media screen and (max-width: 417px) {
  .form__heading {
    font-size: 18px;
    margin-bottom: 75px;
  }
}