.popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s ease-in-out;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup:nth-of-type(3) {
  background-color: rgba(0, 0, 0, 0.9);
}